@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header .container {
  background-color: #0c0c0e;
}

.logo-header {
  padding-left: 15px;
}

.hader-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1420px;
  max-height: 90px;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.header-menu {
  margin-left: 390px;
}
@media (max-width: 1439px) {
  .header-menu {
    width: 332px;
    height: auto;
    margin-left: 690px;
    position: absolute;
  }
}
@media (max-width: 1023px) {
  .header-menu {
    margin-left: 390px;
  }
}
@media (max-width: 767px) {
  .header-menu {
    margin-left: 0;
    width: 302px;
  }
}

.header-menu.click {
  background: #0c0c0e;
}
@media (max-width: 1023px) {
  .header-menu.click {
    margin-left: 420px;
    width: 332px;
    height: auto;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
}
@media (max-width: 767px) {
  .header-menu.click {
    margin-left: 0;
    width: 290px;
  }
}

@media (max-width: 1439px) {
  .menu.click {
    margin-top: 420px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1023px) {
  .menu.click {
    margin-top: 720px;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-list li {
  list-style-type: none;
  margin-left: 30px;
  color: #ffffff;
}
.menu-list a:hover {
  cursor: pointer;
  color: #bb945f;
}
@media (max-width: 1439px) {
  .menu-list {
    margin-top: -220px;
  }
}

@media (max-width: 1439px) {
  .menu-list.click {
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media (max-width: 1439px) {
  .menu-list.click {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .menu-list.click {
    gap: 20px;
  }
}

@media (max-width: 1439px) {
  .menu-title.click {
    margin-top: 350px;
  }
}
@media (max-width: 1023px) {
  .menu-title.click {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .menu-title.click {
    margin-top: 150px;
  }
}

.header-icon {
  background-image: url("../acsess/icon/icon_profile.svg");
  width: 28px;
  height: 28px;
}
@media (max-width: 1439px) {
  .header-icon {
    margin-right: 20px;
    margin-top: 5px;
  }
}
@media (max-width: 1023px) {
  .header-icon {
    margin-top: 10px;
  }
}

.container-burger {
  display: inline-block;
  cursor: pointer;
  display: none;
}
@media (max-width: 1439px) {
  .container-burger {
    display: block;
  }
}

@media (max-width: 1439px) {
  .icon-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    z-index: 99;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  margin: 10px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Поворот первой полосы */
.bar1.change {
  -webkit-transform: rotate(-45deg) translate(-9px, 10px);
  transform: rotate(-45deg) translate(-9px, 10px);
}

/* Исчезание второй полосы */
.bar2.change {
  opacity: 0;
}

/* Поворот последней полосы */
.bar3.change {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

body {
  background-color: #9b9c9b;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #e7eae4;
  /*320-767*/
}
@media (max-width: 1439px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

h1 {
  font-family: "Forum", "cursive";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 767px) {
  h1 {
    font-size: 15px;
  }
}

h2 {
  font-family: "Forum", "cursive";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #0c0c0e;
}
@media (max-width: 767px) {
  h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }
}

section {
  background-color: #ffffff;
}

.section-wrap {
  padding-top: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 40px;
}
@media (max-width: 1023px) {
  .section-wrap {
    padding-bottom: 25px;
  }
}

.section-logo {
  margin: 0 auto;
  height: 61px;
}
.section-logo h2 {
  text-align: center;
}
.section-logo .line-logo {
  display: block;
  width: 50px;
  height: 1px;
  margin-top: 20px;
  margin-left: 670px;
  /*320-767*/
}
@media (max-width: 1439px) {
  .section-logo .line-logo {
    margin-left: 490px;
  }
}
@media (max-width: 1023px) {
  .section-logo .line-logo {
    margin-left: 360px;
  }
}
@media (max-width: 767px) {
  .section-logo .line-logo {
    margin-left: 130px;
  }
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
}

h5 {
  font-family: "Forum", "cursive";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #bb945f;
}
@media (max-width: 767px) {
  h5 {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}

.welcome {
  background-image: url("../acsess/img/Welcome.jpg");
  background-size: cover;
}

.welcome-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  padding-top: 220px;
  padding-bottom: 181px;
}
@media (max-width: 1439px) {
  .welcome-wrap {
    padding-bottom: 160px;
  }
}

.welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  height: 220px;
  background: #0c0c0e;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767px) {
  .welcome-text {
    width: 100%;
    height: auto;
  }
}

.text-W {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin: 35px 40px;
  width: 520px;
  height: 150px;
}
.text-W h2 {
  color: white;
  font-family: "Forum", "cursive";
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-align: center;
}
@media (max-width: 767px) {
  .text-W h2 {
    font-size: 20px;
  }
}

.foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*320-767*/
}
@media (max-width: 1439px) {
  .foto {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
  }
}
@media (max-width: 1023px) {
  .foto {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 767px) {
  .foto {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.foto img {
  width: 450px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
  /*320-767*/
}
@media (max-width: 1439px) {
  .foto img {
    margin: 0 auto;
  }
}
@media (max-width: 1023px) {
  .foto img {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .foto img {
    margin: 0 auto;
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.foto .vector {
  display: none;
  /*320-767*/
}
@media (max-width: 1439px) {
  .foto .vector {
    display: block;
    width: 25px;
    height: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 264px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.none {
  display: none;
}

.brooklyn-text {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 15px;
}
@media (max-width: 1439px) {
  .brooklyn-text {
    padding-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .brooklyn-text {
    line-height: 20px;
    padding-top: 25px;
  }
}

.about-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 664px;
  padding-top: 40px;
  z-index: 3;
  /*320-767*/
}
@media (max-width: 1439px) {
  .about-dots {
    margin-left: 480px;
  }
}
@media (max-width: 1023px) {
  .about-dots {
    margin-left: 324px;
  }
}
@media (max-width: 767px) {
  .about-dots {
    margin-left: 100px;
  }
}

.dot {
  display: block;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50px;
  margin-right: 10px;
}

.dot.none {
  display: block;
}
@media (max-width: 1439px) {
  .dot.none {
    display: block;
  }
}

.dot:hover {
  width: 26px;
  height: 26px;
  background-color: #bb945f;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dot-active {
  width: 26px;
  height: 26px;
  background: #bb945f;
  border-radius: 50px;
  cursor: pointer;
}

.books {
  /*320-767*/
}
@media (max-width: 1439px) {
  .books {
    display: none;
  }
}
@media (max-width: 1023px) {
  .books {
    display: none;
  }
}
@media (max-width: 767px) {
  .books {
    display: none;
  }
}

.vector {
  display: none;
  /*320-767*/
}
@media (max-width: 1439px) {
  .vector {
    display: block;
    width: 25px;
    height: 25px;
  }
}
.pick {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 40px;
}
@media (max-width: 1439px) {
  .pick {
    margin-left: 20px;
  }
}

.radio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 30px;
}
@media (max-width: 1439px) {
  .radio-button {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .radio-button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
  }
}

.form_radio {
  margin-bottom: 10px;
  margin-right: 100px;
}

.form_radio input[type=radio] {
  display: block;
  margin-bottom: -30px;
}

.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form_radio label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  background: url("../acsess/icon/group.png") 0 0 no-repeat;
}

/* Checked */
.form_radio input[type=radio]:checked + label:before {
  background: url("../acsess/icon/GroupActive.png") 0 0 no-repeat;
  width: 20px;
  height: 20px;
}

.radio-box {
  position: absolute;
  width: 1px;
  overflow: hidden;
  height: 1px;
  clip: rect(0 0 0 0);
}

.book-item {
  display: grid;
  margin: 0 auto;
  grid-gap: 25px;
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  grid-template-columns: 590px 590px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1439px) {
  .book-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.book-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1439px) {
  .book-list {
    margin: 0 auto;
  }
}

.book-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  height: 555px;
  border: 1px solid black;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .book-title {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}

.book {
  width: 200px;
  height: 300px;
  position: absolute;
  margin: 270px 0px 0px 390px;
  padding-right: 0px;
}
.book img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1023px) {
  .book {
    margin: 270px 0px 0px 370px;
  }
}
@media (max-width: 767px) {
  .book {
    width: 100px;
    height: auto;
    margin: 207px 0px 0px 200px;
  }
}

.book-logo {
  padding-left: 20px;
}
.book-logo h3 {
  font-family: "Forum", "cursive";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
  padding-top: 15px;
}

.book-text {
  padding-top: 20px;
  padding-left: 20px;
}
.book-text h4 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.book-text p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
}

.text-title {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: left;
  width: 355px;
  height: auto;
  padding-left: 20px;
  text-transform: capitalize;
  padding-top: 20px;
  text-align: justify;
}
@media (max-width: 767px) {
  .text-title {
    width: 80%;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0px;
  }
}

.buy-btn {
  display: block;
  width: 75px;
  height: 30px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 1px;
  margin-left: 20px;
  background: #ffffff;
  margin-bottom: 0px;
}

.buy-btn:hover {
  cursor: pointer;
  color: #0c0c0e;
  border-color: #bb945f;
  background-color: #bb945f;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.own:disabled {
  cursor: none;
  border-color: black;
  color: black;
  background-color: #ffffff;
}

.btns {
  margin-top: auto;
  margin-bottom: 15px;
}

.none {
  display: none;
}

.coffe-style {
  padding-top: 40px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
}
@media (max-width: 767px) {
  .coffe-style {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    width: 280px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .coffe-textH2 {
    text-align: center;
    margin: 0 auto;
  }
}

.coffee-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}
@media (max-width: 1439px) {
  .coffee-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

.coffee-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.coffee-price p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: auto;
  gap: 60px;
}
@media (max-width: 767px) {
  .price {
    gap: 30px;
    width: 280px;
  }
}
.price p::before {
  display: block;
  width: 100px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #bb945f;
  top: 50%;
  left: 240px;
}
@media (max-width: 767px) {
  .price p::before {
    top: 50%;
    left: 120px;
    width: 50px;
  }
}
@media (max-width: 767px) {
  .price p {
    font-size: 10px;
    letter-spacing: normal;
  }
}

.line {
  display: block;
  margin-left: 140px;
  font-family: "Forum", "cursive";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .line {
    margin-left: 20px;
  }
}

.cakes {
  text-align: right;
}

@media (max-width: 767px) {
  .dessertsText {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 1439px) {
  .coffee-price.coffeeTea {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .coffee-price.coffeeTea {
    margin: 0 auto;
    font-size: 10px;
  }
}

@media (max-width: 1439px) {
  .coffee-price {
    margin-left: 220px;
  }
}
@media (max-width: 767px) {
  .coffee-price {
    margin: 0 auto;
  }
}

.coffe-style {
  /*320-767*/
}
@media (max-width: 1023px) {
  .coffe-style {
    width: 728px;
  }
}
@media (max-width: 767px) {
  .coffe-style {
    width: 280px;
    font-size: 10px;
  }
}

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.adress p {
  margin-top: 25px;
}
.adress a {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  color: black;
  margin-top: 30px;
}
@media (max-width: 1439px) {
  .adress {
    margin-left: 20px;
  }
}

.senior {
  padding-top: 15px;
}

.location {
  width: 696px;
  height: 414px;
  /*320-767*/
}
.location img {
  width: 100%;
  /*320-767*/
}
@media (max-width: 1439px) {
  .location img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1023px) {
  .location img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .location img {
    width: 100%;
  }
}
@media (max-width: 1439px) {
  .location {
    width: 980px;
    height: auto;
    margin: 110px 20px 0px 20px;
  }
}
@media (max-width: 1023px) {
  .location {
    width: 728px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .location {
    width: 280px;
    height: auto;
  }
}

.find-text {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  padding-left: 138px;
  padding-top: 10px;
  padding-bottom: 25px;
}
@media (max-width: 1439px) {
  .find-text {
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 1439px) {
  .card-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
@media (max-width: 1439px) {
  .card-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.LibraryCard-form {
  max-width: 600px;
  height: auto;
  margin-right: 344px;
}
@media (max-width: 1439px) {
  .LibraryCard-form {
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767px) {
  .LibraryCard-form {
    max-width: 300px;
    margin-right: 0;
    margin: 0 auto;
  }
}

.cardName-wrap {
  border: 3px solid #BB945F;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.cardName-wrap form {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#username {
  width: 520px;
  height: 66px;
  margin-bottom: 25px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  #username {
    max-width: 200px;
  }
}

#cardNumber {
  width: 520px;
  height: 66px;
  margin-bottom: 25px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  #cardNumber {
    max-width: 200px;
  }
}

.button-card {
  width: 70px;
  height: 50px;
}

.card-form {
  background: #BB945F;
  margin: 20px;
  width: 560px;
  height: auto;
}
@media (max-width: 767px) {
  .card-form {
    width: auto;
  }
}
.card-form .brooclyn {
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Forum", "cursive";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 20px;
}
.card-form form {
  padding-left: 20px;
}

.check-btn {
  width: 242px;
  height: 44px;
  border: 1px solid #0C0C0E;
  background: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px 179px 30px 179px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .check-btn {
    margin: 0px 0px 0px 25px;
  }
}

.check-btn:hover {
  cursor: pointer;
  color: #BB945F;
  border-color: #BB945F;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.will {
  padding-top: 35px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: right;
  /*320-767*/
}
@media (max-width: 1023px) {
  .will {
    text-align: center;
    width: 600px;
  }
}
@media (max-width: 767px) {
  .will {
    width: 250px;
    font-size: 10px;
  }
}

.libraryCard-text {
  margin-top: 0px;
  padding-top: 10px;
  text-align: right;
}
@media (max-width: 1439px) {
  .libraryCard-text {
    text-align: center;
    padding-top: 20px;
  }
}

.button-text {
  width: 75px;
  height: 30px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
  background: #FFFFFF;
  margin-left: 15px;
  margin-top: 35px;
}

.button-text:hover {
  cursor: pointer;
  color: #0C0C0E;
  border-color: #BB945F;
  background-color: #BB945F;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

input::-webkit-input-placeholder {
  font-family: "Forum", "cursive";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  padding-left: 20px;
  color: #8E8E8E;
}

input::-moz-placeholder {
  font-family: "Forum", "cursive";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  padding-left: 20px;
  color: #8E8E8E;
}

input:-ms-input-placeholder {
  font-family: "Forum", "cursive";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  padding-left: 20px;
  color: #8E8E8E;
}

input::-ms-input-placeholder {
  font-family: "Forum", "cursive";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  padding-left: 20px;
  color: #8E8E8E;
}

input::placeholder {
  font-family: "Forum", "cursive";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.02em;
  padding-left: 20px;
  color: #8E8E8E;
}
@media (max-width: 767px) {
  input::-webkit-input-placeholder {
    font-size: 20px;
  }
  input::-moz-placeholder {
    font-size: 20px;
  }
  input:-ms-input-placeholder {
    font-size: 20px;
  }
  input::-ms-input-placeholder {
    font-size: 20px;
  }
  input::placeholder {
    font-size: 20px;
  }
}

.getCard {
  font-family: "Forum", "cursive";
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-align: right;
}
@media (max-width: 1439px) {
  .getCard {
    text-align: center;
  }
}

@media (max-width: 1439px) {
  .btn-sumbit {
    text-align: center;
  }
}

.container-footer {
  max-width: 1440px;
  margin: 0 auto;
  background: #0c0c0e;
  height: auto;
  color: #ffffff;
  /*320-767*/
}
@media (max-width: 1439px) {
  .container-footer {
    max-width: 1024px;
  }
}
@media (max-width: 1023px) {
  .container-footer {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container-footer {
    width: 320px;
  }
}

.frame-form {
  margin: 0px 20px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  padding-top: 20px;
  padding-bottom: 44px;
}
@media (max-width: 767px) {
  .frame-form {
    font-size: 10px;
  }
}

.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

hr {
  display: inline;
  width: 1400px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 34px;
}

.rss {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}
@media (max-width: 767px) {
  .rss {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 15px;
  }
  .rss a {
    margin-top: 20px;
  }
}

.socseti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.socseti li {
  list-style-type: none;
}
.socseti a {
  width: 24px;
  width: 24px;
  margin-right: 16px;
}
@media (max-width: 1439px) {
  .socseti {
    padding-top: 10px;
  }
}

.time {
  text-align: right;
}/*# sourceMappingURL=style.css.map */