////////////////////////
.slider-container {
  position: relative;
  margin: 0 auto 30px auto;
  width: 800px;
  height: 600px;
  @media (max-width: 767px) {
    width: 280px;
    height: 300px;
  }

  .bullet-container {
    position: absolute;
    bottom: -50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .bullet {
      margin-right: 14px;
      &:last-child {
        margin-right: 0px;
      }
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: black;

      &.active {
        background-color: #bb945f;
      }
    }
  }
  .slider-content {
    position: relative;
    left: 50%;
    top: 50%;
    width: 460px;
    height: 540px;
    transform: translate(-50%, -50%);
    @media (max-width: 767px) {
      width: 180px;
      height: 250px;
    }
    .slider-single {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      //transition: z-index 0ms $delay;
      .slider-single-image {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      &.preactivede {
        //z-index: 0;
        .slider-single-image {
          //opacity: 0;
          transform: translateX(-50%) scale(0);
        }
      }
      &.preactive {
        z-index: 1;
      }
      &.proactive {
        z-index: 1;
      }
      &.proactivede {
        //z-index: 0;
        .slider-single-image {
          //opacity: 0;
          transform: translateX(50%) scale(0);
        }
      }
      &.active {
        z-index: 2;

        .slider-single-download {
          opacity: 1;
        }
      }
    }
  }
  .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    top: 50%;

    transform: translateY(-50%);
    padding: 20px 15px;
    background-image: url("../acsess/icon/Vectoleftr.svg");
    background-size: 100%;
    // object-fit: cover;
    // border-top: 2px solid #fdc84b;
    // border-right: 2px solid #fdc84b;
    // border-bottom: 2px solid #fdc84b;
    // border-left: 2px solid #fdc84b;
    margin-right: 20px;
  }
  .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 85%;
    top: 50%;

    transform: translateY(-50%);
    padding: 20px 15px;
    background-image: url("../acsess/icon/Vectorrigth.svg");
    background-size: 100%;
    // border-top: 2px solid #fdc84b;
    // border-right: 2px solid #fdc84b;
    // border-bottom: 2px solid #fdc84b;
    // border-left: 2px solid #fdc84b;
    margin-left: 20px;
  }
  .not-visible {
    display: none !important;
  }
}
.brooklyn-text {
  text-align: center;
}
////////////////////////////
